.home-container {
    
    margin-left: -10px;
    margin-right: -10px;

font-family: 'Press Start 2P', sans-serif;
margin-top: 60px;
  display: flex;
  height: 100vh;
  
}

/* Users Panel */
.users-panel {
  width: 30%;
 background: linear-gradient(to left,#000000, #070027, #000000); /* heavy blue gradient */
color: white;
  padding: 1rem;
  box-sizing: border-box;
}

.users-panel h3 { margin-bottom: 0.5rem; }
.users-panel input{
    font-family: 'Press Start 2P', sans-serif;
    font-size: 0.4em;
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 3px solid #000000;
}
.users-panel input::placeholder{
font-family: 'Press Start 2P', sans-serif;
    font-size: 0.4em;
}
.users-panel ul { list-style: none; padding: 0; }
.users-panel li {
    font-size: 0.7em;
  display: flex;
  align-items: center;
  padding: 0.5rem 0;

}
.users-panel li img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 0.7rem;
}

/* Posts Panel */
.posts-panel {
background-image: url('/postsback.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 /* heavy blue gradient */
  width: 70%;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Post Form */
.post-form {
  width: 60%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.post-form input, .post-form textarea {
    font-family: 'Press Start 2P', sans-serif;
  margin-bottom: 0.5rem;
    font-size: 0.4em;

  padding: 0.5rem;
  border-radius: 7px;
  border: 4px solid #000000;
}
.post-form input::placeholder,.post-form textarea::placeholder{
font-family: 'Press Start 2P', sans-serif;
    font-size: 0.4em;
    color: rgb(139, 134, 134);
}
.post-form button {
  align-self: flex-end;
  padding: 0.5rem 1rem;
  background: #1e3aa7;
font-family: 'Press Start 2P', sans-serif;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Posts Grid */
.posts-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.post-card {
  background: linear-gradient(to left,#000000, #000000, #000000); /* heavy blue gradient */
 /* heavy blue gradient */

  color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 10px;
  position: relative;
}

.post-card .post-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.4rem;
  font-size: 0.9rem;
}
.post-card .post-header img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 0.5rem;
  
}

.post-buttons {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.post-buttons button {
  background: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  margin-left: 0.3rem;
  cursor: pointer;
}

.post-buttons i {
  font-size: 1.1rem;
  margin-left: 8px;
  cursor: pointer;
  transition: transform 0.2s, color 0.2s;
}

.post-buttons i:hover {
  transform: scale(1.2);
}
