<div class="auth-container">
  <div class="auth-card">
    <!-- Top image placeholder -->
    <div class="auth-image">
      <img src="developer.png" alt="Register Illustration">
    </div>

    <h2>Create an Account</h2>
    <div *ngIf="showError" class="error-box">
      <span>{{ errorMessage }}</span>
    </div>
    <form (ngSubmit)="onSubmit()">
      <label>Username</label>
      <input type="text" [(ngModel)]="formData.username" name="username" required>

      <label>Email</label>
      <input type="email" [(ngModel)]="formData.email" name="email" required>

      <label>Password</label>
      <input type="password" [(ngModel)]="formData.password" name="password" required>

      <button type="submit">Register</button>
    </form>

    <p class="redirect-text">
      Already have an account? <a routerLink="/login">Login here</a>
    </p>
  </div>
</div>
