/* Full page container */
.auth-container {
font-family: 'Press Start 2P', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;       /* Full screen height */
  width: 100vw;        /* Full screen width */
   background: linear-gradient(to right,#000000, #060025, #03256e); /* heavy blue gradient */

  margin: 0;
  padding: 0;
}
.error-box {
  color: red;

  padding: 8px 12px;
  border-radius: 6px;
  margin-top: 10px;
  text-align: center;
  animation: fadeIn 0.4s ease-in, fadeOut 0.4s ease-out 3s forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-2px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeOut {
  from { opacity: 1; transform: translateY(0); }
  to { opacity: 0; transform: translateY(-2px); }
}
/* Card style */
.auth-card {
  padding: 2rem;
  border-radius: 12px;
 
  width: 350px;
  text-align: center;
  animation: fadeIn 0.6s ease-in-out;
}

/* Top image */
.auth-image img {
  width: 80px;
  margin-bottom: 1rem;
}

/* Title */
.auth-card h2 {
  margin-bottom: 0.9rem;
  font-size: 1.2rem;

  color: #0a74de;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

label {
  font-size: 0.8em;
  text-align: left;
  color: #ffffff;
  font-weight: 500;
}

input {
  font-family: 'Press Start 2P', sans-serif;
  padding: 10px;
  border: 4px solid #000000;
  border-radius: 6px;
  font-size: 14px;
}

button {
font-family: 'Press Start 2P', sans-serif;

  margin-top: 1rem;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #000000;
  color: white;
  font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #0755a2;
}

/* Redirect link */
.redirect-text {
  color: white;
  margin-top: 1rem;
  font-size: 0.8em;
}

.redirect-text a {
  color: #095db1;
  font-weight: bold;
  text-decoration: none;
}

.redirect-text a:hover {
  text-decoration: underline;
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
