# Docker Compose file to define and run multi-container Docker applications 
services:
# Define Postgres database service
  db:
  # Use official Postgres image version 15
    image: postgres:15
    restart: always
    environment:
    # Set Postgres environment variables to create DB and user
      POSTGRES_USER: alouhab
      POSTGRES_PASSWORD: alilo
      POSTGRES_DB: 01-blogdb
    ports:
    # set up port mapping for Postgres
      - "5432:5432"
    # Persist Postgres data using Docker volume which is a named volume defined below
    volumes: 
      - db-data:/var/lib/postgresql/data

volumes:
  db-data:
