.users-panel {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh; /* full page height */
 overflow: hidden; 
  
}
.header-text{
  width: 75%;
  text-align: center;
}
.users-panel.dark-mode {

  color: #000000;
}

.users-panel h3 {
  
  margin: 0.5rem 0;
}

.users-panel input {
  
  font-size: 0.4em;
  width: 70%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  border: 3px solid #000000;
}

.users-panel input::placeholder {
 
  font-size: 0.4em;
}

/* ✅ scroll area */
.users-list {
  height: 100vh;
  flex: 1;                /* take remaining height */
  overflow-y: auto;       /* vertical scroll only */
   /* hide horizontal scroll */
  padding-right: 5px;     /* avoid scrollbar overlap */
}
.users-panel::-webkit-scrollbar {
  width: 10px; /* scrollbar width */
}

.users-panel::-webkit-scrollbar-track {
  background: #111; /* track background */
  border-radius: 10px;
}

.users-panel::-webkit-scrollbar-thumb {
  
  border-radius: 10px;
  border: 2px solid #000; /* small border for contrast */
}

.users-panel::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0);
}

/* For Firefox */
.users-panel {
  scrollbar-width: thin;
  scrollbar-color: #f9f9f9 #111; /* thumb + track */
}
/* make it look like a table */
.users-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.users-list li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.6em;
  padding: 0.6rem;
  width: 70%;
  border-bottom: 1px solid rgba(92, 87, 87, 0.2);
  cursor: pointer;
}

.users-list li:hover {
  background: rgba(59, 58, 58, 0.1);
}

.users-panel.dark-mode .users-list li {
  border-bottom: 1px solid #ccc;
}

.users-panel.dark-mode .users-list li:hover {
  background: #f0f0f0;
}

.users-list li img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 0.7rem;
}
