.users-panel {
  background: linear-gradient(to left,#000000, #000000, #000000);
  color: white;
  padding: 1rem;
  box-sizing: border-box;
}
.users-panel.dark-mode {
  background: #ffffff; 
  color: #000000;
}

.users-panel.dark-mode input {
  background-color: #f0f0f0;
  color: #000000;
  border: 3px solid #000000;
}
.users-panel h3 { margin-bottom: 0.5rem; }

.users-panel input{
  font-family: 'Press Start 2P', sans-serif;
  font-size: 0.4em;
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 3px solid #000000;
}

.users-panel input::placeholder{
  font-family: 'Press Start 2P', sans-serif;
  font-size: 0.4em;
}

.users-panel ul { list-style: none; padding: 0; }

.users-panel li {
  font-size: 0.7em;
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}

.users-panel li img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 0.7rem;
}
