<div class="modal-backdrop" *ngIf="isOpen" (click)="close()"></div>

<div class="modal" *ngIf="isOpen">
  <h2>Report Post</h2>
  <div *ngIf="reasonmessage" class="error-message">{{ reasonmessage }}</div>
  <form>
    <label>Reason:</label>
    <input type="text" [(ngModel)]="reportData.reason" name="reason" required>

    <div class="modal-actions">
      <button type="submit" (click)="submit()" >Submit</button>
      <button type="button" (click)="close()">Cancel</button>
    </div>
  </form>
</div>
