.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
  padding: 24px;
  width: 350px;
  z-index: 1001;
}

.modal h2 {
  margin-top: 0;
  text-align: center;
}

.modal input, .modal textarea {
  width: 95%;
  margin-top: 8px;
  margin-bottom: 12px;
   font-family: "Saira", sans-serif !important;
  font-weight: 500 !important;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.modal input:focus, .modal textarea:focus {
  outline: none;
  border: 1px solid #676666;
   font-family: "Saira", sans-serif !important;
  font-weight: 500 !important;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}

.modal-actions button {
  padding: 8px 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
   font-family: "Saira", sans-serif !important;
  font-weight: 500 !important;
}
.error-message {
  color: red;
  font-size: 0.9em;
  text-align: center;
  margin-bottom: 10px;
}

.modal-actions button[type="submit"] {
  background-color: #000000;
  color: white;
}

.modal-actions button[type="button"] {
  background-color: #ccc;
}

@media screen and (max-width: 400px) {
  .modal {
    width: 70%;
  }
  
}
