/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
 overflow: hidden;
}
/* 🌙 Dark mode: affects the entire app */

body {
  transition: background-color 0.4s ease, color 0.4s ease;
}
