<section class="hero">
  <div class="hero-content">
    <div class="hero-text">
      <h1>Welcome to <span>01Blog</span></h1>
      <p>Your space to share ideas, learn, and grow together</p>
      <a routerLink="/register" class="btn">Get Started</a>
    </div>
    <div class="hero-image">
    <div id="image"><img src="developer.png" alt="01 Logo" class="logo-img"></div>
      
    </div>
  </div>
</section>

<section class="features">
  <div class="feature-card">
    <h2>Create</h2>
    <p>Write posts, share your journey, and inspire others.</p>
  </div>
  <div class="feature-card">
    <h2>Connect</h2>
    <p>Subscribe to students, follow their progress, and collaborate.</p>
  </div>
  <div class="feature-card">
    <h2>Learn</h2>
    <p>Explore ideas, gain knowledge, and level up your skills.</p>
  </div>
</section>
