.home-container {
  display: flex;
  height: 100vh;
  margin: 0;
   margin-left: -10px;
   margin-top: 60px;
    margin-right: -10px;
  font-family: 'Press Start 2P', sans-serif;
}

/* Users Panel */
.users-panel {
  width: 30%;
  background: linear-gradient(to left,#000000, #000000, #000000);
  color: white;
  padding: 1rem;
  box-sizing: border-box;
}

/* Comments Panel */
.comments-panel {
  width: 70%;
  background-image: url('/postsback.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Comment Form */
.comment-form {
  width: 60%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.comment-form input {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 0.4em;
  padding: 0.5rem;
  border-radius: 7px;
  border: 4px solid #000000;
  margin-bottom: 0.5rem;
}
.comment-form input::placeholder {
  font-size: 0.4em;
  color: rgb(139, 134, 134);
}
.comment-form button {
  align-self: flex-end;
  padding: 0.5rem 1rem;
  background: #1e3aa7;
  font-family: 'Press Start 2P', sans-serif;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Comment Card */
.comment-card {
  width: 80%;
  background: linear-gradient(to left,#000000, #000000, #000000);
  color: white;
  padding: 0.8rem;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}
