/* Background */
.login-container {
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  background: linear-gradient(to right,#000000, #060025, #03256e); /* heavy blue gradient */
}

/* Card */
.login-card {
  animation: fadeIn 0.6s ease-in-out;
font-family: 'Press Start 2P', sans-serif;

  
  padding: 2rem;
  border-radius: 12px;
 
  width: 350px;
  text-align: center;
}

/* Logo */
.login-logo img {
  width: 80px;
  height: 80px;
  margin-bottom: 1rem;
}

/* Title */
.login-title {
  margin-bottom: 1.5rem;
  color: #0d47a1;
}

/* Form */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-form label {
  text-align: left;
  font-weight: bold;
  font-size: 0.8em;
  color: #ffffff;
}

.login-form input {
font-family: 'Press Start 2P', sans-serif;

  padding: 0.6rem;
  border: 4px solid #000000;
  border-radius: 8px;
  outline: none;
  transition: border 0.2s;
}

.login-form input:focus {
  border-color: #1186ad;
}

/* Button */
.login-form button {
font-family: 'Press Start 2P', sans-serif;

  padding: 0.7rem;
  background: #000000;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.login-form button:hover {
  background: #0d47a1;
}

/* Register link */
.register-link {
  color: white;
  margin-top: 1.2rem;
  font-size: 0.7rem;
}

.register-link a {
  color: #1976d2;
  font-weight: bold;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
