<div class="auth-container">
  <mat-card class="auth-card">
    <div class="auth-logo">
      01BLOG
    </div>

    <div class="auth-title">Welcome Back</div>

    <p *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </p>

    <mat-card-content>
      <form (ngSubmit)="onSubmit()" class="auth-form">
        
        <mat-form-field appearance="outline">
          <mat-label>Email or Username</mat-label>
          <input 
            matInput 
            type="text" 
            [(ngModel)]="formData.email" 
            name="identifier" 
            required
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input 
            matInput 
            type="password" 
            [(ngModel)]="formData.password" 
            name="password" 
            required
          >
        </mat-form-field>

        <button 
          mat-flat-button 
          color="primary" 
          type="submit"
          class="auth-button"
        >
          Login
        </button>
        
      </form>
    </mat-card-content>

    <p class="redirect-link">
      Don’t have an account? 
      <a routerLink="/register">Create one</a>
    </p>
  </mat-card>
</div>